.container{
    width:auto;
}
.content-header.row{
    margin:0;
    height: 50px;
    line-height: 50px;
    width:80%;
    color:#f4a62a;
}
.header-item{
    border-bottom: 1px solid #eee;
    height:100%;
}
.header-item.title{
    border-bottom: 1px solid #f4a62a;
    color:#f4a62a;
}

.table.table-hover thead {
    background-color: transparent;
}
.page-header{
    margin:0;
}
.search-form input{
    width:120px !important;
}